@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arya:wght@400;700&display=swap');
*{margin: 0px;
padding: 0px;}

body{
background:rgb(255, 255, 255);
font-family: 'Abel', sans-serif;}
h1,h2,h3{font-family: 'Arya', sans-serif;
        color: rgb(59, 94, 104);}
ul {display: flex;
   list-style-type: none;
   justify-content: right;
  font-size: 1rem;
  background-color: rgb(80, 128, 142);}

ul li {text-decoration: none;
     padding: 40px;
     justify-content: space-between;
     color: white;}

a{color: white;
  text-decoration: none;}
  
.titulo1 {background-color: rgb(111, 160, 174);
          height: 150px;
          width: 100%;
          font-size: 40px; 
          text-align:center;}

.rectangulo     {border: 1px solid rgb(59, 94, 104); /* Línea delgada */
                width: 70%;
                height: 100px;
                padding: 10px;
                margin-left: 5%;
                }
.parr1 {color: rgb(59, 94, 104);
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;}

.decor1     {background-color: rgb(111, 160, 174);
            width: 70%;
            height: 45px}
.teatro {position: absolute;
        margin-top: 70px}

.rectangulo2 {border: 1px solid rgb(59, 94, 104); /* Línea delgada */
                width: 55%;
                height: 160px;
                padding: 10px;
                margin-left: 35%;
                margin-top: 70px}

.parr2 {color: rgb(59, 94, 104);
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;}
.decor2     {background-color: rgb(111, 160, 174);
            width: 55%;
            height: 45px;
            margin-left: 40%}

.rectangulo3 {border: 1px solid rgb(59, 94, 104); /* Línea delgada */
                width: 55%;
                height: 250px;
                padding: 10px;
                margin-left: 15%;
                margin-top: 70px;
                }
.parr3 {color: rgb(59, 94, 104);
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;}

.decor3     {background-color: rgb(111, 160, 174);
            width: 55%;
            height: 45px;
            margin-left: 10%}

.artes {position: absolute;
        margin-top: 70px;
        margin-left: 63%}

.rectangulo4 {border: 1px solid rgb(59, 94, 104); /* Línea delgada */
                width: 55%;
                height: 150px;
                padding: 10px;
                margin-left: 5%;
                margin-top: 70px;
                }
.parr4 {color: rgb(59, 94, 104);
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;}

.decor4     {background-color: rgb(111, 160, 174);
            width: 55%;
            height: 45px;
            margin-left: 0%}

.rectangulo5 {border: 1px solid rgb(59, 94, 104); /* Línea delgada */
                width: 55%;
                height: 170px;
                padding: 10px;
                margin-left: 30%;
                margin-top: 70px;
                }
.parr5 {color: rgb(59, 94, 104);
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;}

.decor5     {background-color: rgb(111, 160, 174);
            width: 55%;
            height: 45px;
            margin-left: 35%}

footer{background-color: #50808E;
      height: 150px;
      margin-top: 100px;}

.iconos i{
color: white;
font-size: 20px;
display: block;
margin-left: 50px;
position: relative;
top: 35px;
margin-top: 25px;}

.mail p{
color: white;
margin-top: -34px;
margin-left: 85px;}

.info p{
color: white;
margin-top: 26px;
margin-left: 85px;}

.infopaper {margin-top: 40px;
      margin-right: 20px;
      margin-bottom: 30px;
      margin-left: 60px;}

.texto {margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
      margin-left: 60px;}

.texto p { margin-top: 10px;
margin-bottom:10px;
font-size: 20px; }

