@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arya:wght@400;700&display=swap');
*{margin: 0px;
padding: 0px;}

body{
background:rgb(255, 255, 255);
font-family: 'Abel', sans-serif;}
h1,h2,h3{font-family: 'Arya', sans-serif;
        color: rgb(59, 94, 104);}

ul {display: flex;
   list-style-type: none;
   justify-content: right;
  font-size: 1rem;
  background-color: rgb(80, 128, 142);}

ul li {text-decoration: none;
     padding: 40px;
     justify-content: space-between;
     color: white;}

a{color: white;
  text-decoration: none;}
  
.titulo1 {background-color: rgb(111, 160, 174);
          height: 150px;
          width: 100%;
          font-size: 40px; 
          text-align: center;}


footer{background-color: #50808E;
      height: 150px;
      margin-top: 100px;}

.iconos i{
color: white;
font-size: 20px;
display: block;
margin-left: 50px;
position: relative;
top: 35px;
margin-top: 25px;}

.mail p{
color: white;
margin-top: -34px;
margin-left: 85px;}

.info p{
color: white;
margin-top: 26px;
margin-left: 85px;}


.infopaper {margin-top: 40px;
      margin-right: 20px;
      margin-bottom: 30px;
      margin-left: 60px;}

.infopaper h2 {
    margin-top: 20px;
    margin-bottom: 1px;}

.paper {
border: 1px solid rgb(59, 94, 104); /* Línea delgada */
width: 90%;
height: 250px;
padding: 10px;
margin-left: 80px;}

.paper {margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
      margin-left: 60px;}

.paper p{font-size: 20px;
margin-top: 10px;}

.infoautor{width: 100%;}
.infoautor h1 {text-size: 40px;}

    .fotoautor img{
      float: left;
      margin-top: 40px;
      margin-right: 20px;
      margin-bottom: 30px;
      margin-left: 60px;}

    .texto {float: left;
      margin-top: 40px;
      margin-right: 5px;
      margin-bottom: 30px;
      margin-left: 60px;}

.franja { float:left; 
    margin-right: 0px; 
    margin-top: 40px;
    margin-bottom: 30px;}

.descripcion {
border: 1px solid rgb(59, 94, 104); /* Línea delgada */
width: 90%;
height: 130px;
padding: 10px;
margin-left: 60px;
margin-top: 400px;
margin-right: 20px;
margin-bottom: 30px;}

.descripcion p{font-size: 20px;
margin-top: 10px;}

.subtitulo h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;}

.subtitulo {display: flex;
    justify-content: left;}

.subtitulo svg {margin-left: 60px;
    margin-right: 10px;
    margin-top: 10px;}