@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arya:wght@400;700&display=swap');
*{margin: 0px;
padding: 0px;}

body{
background:rgb(255, 255, 255);
font-family: 'Abel', sans-serif;
color: rgb(59, 94, 104)}
h1,h2,h3{font-family: 'Arya', sans-serif;
        color: rgb(59, 94, 104);}
ul {display: flex;
   list-style-type: none;
   justify-content: right;
  font-size: 1rem;
  background-color: rgb(80, 128, 142);}

ul li {text-decoration: none;
     padding: 40px;
     justify-content: space-between;
     color: white;}

a{color: white;
  text-decoration: none;}
  
.titulo1 {background-color: rgb(111, 160, 174);
          height: 150px;
          width: 100%;
          font-size: 40px; 
          text-align: center;}

.infopaper {margin-top: 40px;
      margin-right: 20px;
      margin-bottom: 30px;
      margin-left: 60px;}

.infopaper h2 {
    margin-top: 20px;
    margin-bottom: 1px;}
    

.hiroriza{margin-left: 30px;
         display: inline-block;
         position: absolute;}

.borde{width: 3px;
       height: 200px;
       background-color: #3B5E68;
       margin-left: 30px;
       display: inline-block;}

.izq{float: left;
margin-left: 100px;
display: inline-block;}

.descripcion {
border: 1px solid rgb(59, 94, 104); /* Línea delgada */
width: 87%;
height: 90px;
padding: 10px;
margin-left: 50px;
margin-right: 20px;}

.descripcion p{ margin-top: 10px;
font-size: 20px;}

.descripcion2 {
border: 1px solid rgb(59, 94, 104); /* Línea delgada */
width: 87%;
height: 120px;
padding: 10px;
margin-left: 50px;
margin-right: 20px;
margin-top: 20px;}

.descripcion2 p{ margin-top: 10px;
font-size: 20px;}

.proyect{margin-left: 50px;}
.proyect p{border: 1px solid rgb(59, 94, 104); /* Línea delgada */
width: 90%;
height: 230px;
padding: 10px;
margin-right:50px;
margin-top: 10px;
font-size: 20px;
}

iframe{margin-left: 50px;}

footer{background-color: #50808E;
      height: 150px;
      margin-top: 25px;}

.iconos i{
color: white;
font-size: 20px;
display: block;
margin-left: 50px;
position: relative;
top: 35px;
margin-top: 25px;}

.mail p{
color: white;
margin-top: -34px;
margin-left: 85px;}

.info p{
color: white;
margin-top: 26px;
margin-left: 85px;}




