@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arya:wght@400;700&display=swap');
*{margin: 0px;
padding: 0px;}

body{
background:rgb(255, 255, 255);
font-family: 'Abel', sans-serif;}
h1,h2,h3{font-family: 'Arya', sans-serif;
        color: rgb(59, 94, 104);}
ul {display: flex;
   list-style-type: none;
   justify-content: right;
  font-size: 1rem;
  background-color: rgb(80, 128, 142);}

ul li {text-decoration: none;
     padding: 40px;
     justify-content: space-between;
     color: white;}

a{color: white;
  text-decoration: none;}
  
.titulo1 {background-color: rgb(111, 160, 174);
          height: 300px;
          width: 100%;}

.hiroriza{margin-left: 30px;
         display: inline-block;
         position: absolute;}

.borde{width: 3px;
       height: 200px;
       background-color: #3B5E68;
       margin-left: 30px;
       display: inline-block;}

.izq{float: left;
margin-left: 100px;
display: inline-block;}

.descripcion {
border: 1px solid rgb(59, 94, 104); /* Línea delgada */
width: 70%;
height: 80px;
padding: 10px;
margin-left: 50px;
margin-top: 100px;
margin-right: 50px;}

.descripcion p{ margin-top: 10px;}

footer{background-color: #50808E;
      height: 250px;
      margin-top: 25px;
      text-align: center;}