body{
background: beige;}

ul {display: flex;
   list-style-type: none;
   justify-content: right;
  font-size: 1rem;
  background-color: black;}

ul li {text-decoration: none;
     padding: 10px;
     justify-content: space-between;
     color: white;}

.tituloimagenes{
 font-family: 'Poppins';
 text-align: center;
 font-size: 30px;
 color: rosybrown;
 margin-top: 70px;}

#conteitemcarrusel{
position: absolute;
margin-top: -140px;
margin-left: 150px;
height: 790px;
width: 1000px;
overflow: hidden;}

.itemcarrusel{
height: 100%;
position: relative;}

.tarjetacarrusel{
height: 100%;
display: flex;
justify-content: center;
align-items: center;}

.tarjetacarrusel img{
  justify-content: center;
  width: 40%;
  height: 50%;}

.flechascarrusel {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 130px;}

.flechascarrusel i {
  color: rosybrown;
  font-size: 30px;}
