@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arya:wght@400;700&display=swap');
*{margin: 0px;
padding: 0px;}

body{
background:rgb(255, 255, 255);
font-family: 'Abel', sans-serif;}

h1,h2,h3{font-family: 'Arya', sans-serif;
        color: rgb(59, 94, 104);}

p {font-size: 20px;
margin-top: 10px;}

ul {display: flex;
   list-style-type: none;
   justify-content: right;
  font-size: 1rem;
  background-color: rgb(80, 128, 142);}

ul li {text-decoration: none;
     padding: 40px;
     justify-content: space-between;
     color: white;}

a{color: white;
  text-decoration: none;}

.titulo1 {background-color: rgb(111, 160, 174);
height: 150px;
width: 100%;
margin: 0 auto;
text-align: center;
font-size: 40px;}

.subtitulo {
color: rgb(80, 128, 142);
margin-top: 20px;
text-align: center;
font-size: 30px;}

.subtitulo p { font-size: 30px; }

h3 {
margin-left: 90px;
margin-top: 40px;}

.rectangulo {
border: 1px solid rgb(59, 94, 104); /* Línea delgada */
width: 80%;
height: 160px;
padding: 10px;
margin-left: 80px;
}

.sobreelproyecto {
color: rgb(59, 94, 104);
margin-top: 10px;
margin-left: 50px;
margin-right: 50px;}


/*carrucel*/
.slider-frame {
width: 500px;
height: auto;
margin: 50px auto 0;
overflow: hidden;
}
.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 10s infinite alternate ease-in-out;
}
.slider-frame li {
  list-style: none;
  width: 100%;
}
.slider-frame img {
  width: 100%;
}
@keyframes slide {
  0% {margin-left: 0%}
  20%{margin-left: 0%}

  25% {margin-left: -100%}
  45%{margin-left: -100%}

  50% {margin-left: -200%}
  70%{margin-left: -200%}

  75% {margin-left: -300%}
  95%{margin-left: -300%}
}
/*fin codigo carrucel*/

.sobreelpaper {
color: rgb(59, 94, 104);
margin-top: 15px;
margin-left: 50px;
margin-right: 50px;}

.analisis {
color: rgb(59, 94, 104);
margin-top: 15px;
margin-left: 50px;
margin-right: 50px;}

footer{background-color: #50808E;
      height: 150px;
      margin-top: 25px;}

.iconos i{
color: white;
font-size: 20px;
display: block;
margin-left: 50px;
position: relative;
top: 35px;
margin-top: 25px;}

.mail p{
color: white;
margin-top: -34px;
margin-left: 85px;}

.info p{
color: white;
margin-top: 26px;
margin-left: 85px;}



